{% extends 'base.html' %}  
{% block content %}   

    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <td></td>
                    <td></td>
                </tbody>
            </table>
        </div>
    </main>

    {% endblock content %}