<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        
        <title>Document</title>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>